{{!< default}}

<div class="content-container">
  <div class="content article">
    <h1>Whoops.</h1>
    <p class="date">I tried my best, but couldn't find that page.</p>
    <p style="text-align: center;">You could try heading back to <a href="/">the index</a>.</p>
  </div>
</div>
