{{!< default}}

{{#post}}

<div class="content-container">
  <article class="content page {{post_class}}">
    <p class="index-link-container">
      <a class="index-link" href="/">← All posts</a>
    </p>

    <h1>{{title}}</h1>

    <div class="contents">{{content}}</div>
  </article>
</div>

{{/post}}
